<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <form action="index.html" method="post">
                <h1> Hotel Registration </h1>

                <fieldset>

                    <legend><span class="number">1</span> Hotel Information</legend>

                    <label for="name">Hotel Name:</label>
                    <input type="text" id="name" name="hotel_name">

                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location">

                    <label>Facilities:</label>
                    <input type="checkbox" id="A/C Rooms" value="A/C Rooms" name="user_interest"><label class="light" for="A/C Rooms">A/C Rooms</label>&nbsp;
                    <input type="checkbox" id="Non A/C Rooms" value="Non A/C Rooms" name="user_interest"><label class="light" for="Non A/C Rooms">Non A/C Rooms</label><br>
                    <input type="checkbox" id="Restaurant" value="Restaurant" name="user_interest"><label class="light" for="Restaurant">Restaurant</label>&nbsp;
                    <input type="checkbox" id="Free Wifi" value="Free Wifi" name="user_interest"><label class="light" for="Free Wifi">Free Wifi</label> &nbsp;
                    <input type="checkbox" id="Laundary" value="Laundary" name="user_interest"><label class="light" for="Laundary">Laundary</label> &nbsp;
                    <input type="checkbox" id="Parking" value="Parking" name="user_interest"><label class="light" for="Parking">Parking</label>

                    <!-- <label>Age:</label>
                    <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
                    <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">Over 13</label> -->

                </fieldset>
                <fieldset>

                    <legend><span class="number">2</span> Hotel Profile</legend>

                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>


                    <label for="hotelClass">Hotel Class:</label>
                    <select id="hotelClass" name="hotelClass">
                        <optgroup label="Web">
                        <option value="frontend_developer">1 &#9733;</option>
                        <option value="php_developer">2 &#9733;</option>
                        <option value="python_developer">3 &#9733;</option>
                        <option value="rails_developer">4 &#9733;</option>
                        <option value="web_designer">5 &#9733;</option>
                        <option value="wordpress_developer">6 &#9733;</option>
                        </optgroup>
                    </select>

                    <label for="rooms_avaliable">Rooms Available:</label>
                    <input type="text" id="rooms_avaliable" name="rooms_avaliable">

                    <input type="file" (change)="onselectFile($event)">
                    <img *ngFor="let url of images" [src]="url" height="200" width="200">

                </fieldset>



                <button type="submit">Sign Up</button>

            </form>
        </div>
    </div>

</body>

</html>