<!DOCTYPE html>
<html>

<head>
    <title>Accomodation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e4ba8d;">
        <a class="navbar-brand" href="#">TripsAway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="showcase">
        <h1>Welcome To The Accomodation Section </h1>
        <p>The Following are your Available Options</p>


        <a href="#" class="button">Update Hotel Details</a>

        <a href="#" class="button">Delete Hotel Details</a>

        <a href="#" class="button">Show Bookings</a>


    </header>

</body>

</html>